.about-content {
    display: flex;
    margin: 10em auto;
    > * {
        width: 50%;
    }
    .img-container {
        width: 40%;
        margin-right: 130px;
        @include shift-border;
    }
}