.contact-content {
    padding: 6em 0 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h2 {
        width: 100%;
    }
    form {
        width: 50%;
    }
    button {
        background-color: $black;
        color: white;
        padding: 0.6em 1.2em;
        position: relative;
        &:hover {
            box-shadow: 10px 10px 0 -1px white,
                        10px 10px 0 $black;
            &::before {
                content: '';
                position: absolute;
                display: block;
                left: 10px;
                top: 10px;
                width: calc(100% - 11px);
                height: calc(100% - 11px);
                border-top: 1px solid white;
                border-left: 1px solid white;
            }
        }    
    }
}
.input {
    border: 1px solid $dark-grey;
    margin-bottom: 1.6em;
    position: relative;
    > * {
        border: none;
        width: 100%;
    }
    label {
        position: absolute;
        left: 1em;
        top: -25%;
        width: min-content;
        padding: 0 0.1em;
        background-color: white;
    }
    .msg-label {
        top: -8%;
    }
    input, textarea {
        line-height: 1.6em;
        padding: 0.4em 1em 0.2em;
    }
    textarea {
        resize: none;
    }
}