.contact-content {
    background-image: url('./../assets/contact-img-cold.jpg');
    background-size: cover;
    background-position: 50% 25%;
    @include shift-border;
    .content-wrap {
        padding: 6em 0 8em;
        display: flex;
        justify-content: space-between;
    }
    form {
        width: 60%;
    }
}
@media (max-width: 768px) {
    .contact-content {
        margin-top: 270px;
    }
}
.input {
    border: 1px solid $dark-grey;
    margin-bottom: 1.6em;
    position: relative;
    > * {
        border: none;
        width: 100%;
    }
    label {
        position: absolute;
        left: 1em;
        top: -0.65em;
        width: min-content;
        padding: 0 0.1em;
        background-image: linear-gradient(180deg, transparent 55%, white 55% 100%);
    }
    input, textarea {
        line-height: 1.6em;
        padding: 0.4em 1em 0.2em;
    }
    textarea {
        resize: none;
    }
}
.social-list {
    width: 32%;
}
.social-link {
    display: flex;
    width: max-content;
    margin: 0.5em;
    i {
        width: 30px;
    }
}
@media (max-width: 767px) {
    .contact-content {
        background-position: 75%;
        .content-wrap {
            flex-direction: column;
            align-items: center;
            & > * {
                width: 100%;
            }
        }
    }
    .social-list {
        margin-top: 4em;
        h2 {
            width: max-content;
            margin-left: auto;
        }
    }
    .social-link {
        text-align: right;
        width: unset;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin: 0.5em 0;
    }
}
