body {
    padding-top: 40px;
}
header {
    background-image: url('./../assets/banner-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include shift-border;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: calc(1.4em + 30px) 0 0;
    ul {
        display: flex;
        justify-content: flex-end;
    }
    li {
        padding-left: 2em;
    }
}
.top-nav {
    a {
        padding: 0.5em;
        display: block;
    }
    .border {
        display: block;
        position: relative;
        top: -100%;
        left: 0;
        height: $length;
        width: 1px;
        background-color: white;
    }
    .border-top ,
    .border-bottom {
        height: 1px;
        width: $length;
        transform: scaleX(0);
    }
    .border-left {
        top: calc(#{$length} * -2);
        transform: scaleY(0);
    }
    .border-right {
        left: 100%;
        transform: scaleY(0);
    }
    a:hover, a:focus {

        & ~ .border {
            transition: transform $time linear;
        }
        & ~ .border-right {
            transform: scaleX(1);
            transform-origin: bottom;
        }
        & ~ .border-top {
            transform: scaleX(1);
            transform-origin: right;
            transition-delay: $time;
        }
        & ~ .border-left {
            transform: scaleY(1);
            transform-origin: top;
            transition-delay: calc(#{$time} * 2);
        }
        & ~ .border-bottom {
            transform: scaleX(1);
            transform-origin: left;
            transition-delay: calc(#{$time} * 3);
        }
    }
}
h1 {
    margin: auto;
    width: max-content;
}
.burger-menu {
    display: none;
}
.scroll-down {
    height: 10vh;
    position: relative;
    bottom: 8%;
}
.down-arrow {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    border: 3px solid transparent;
    border-left: 3px solid $black;
    border-bottom: 3px solid $black;
    transform: translateX(-50%) rotateZ(-45deg);
    animation: bounce 1200ms ease-out 300ms infinite;
}
@media (max-width: 768px) {
    header {
        @include shift-border($shift-size-half);
    }
    .burger-menu {
        display: block;
        .bar {
            width: 20px;
            height: 3px;
            margin-bottom: 3px;
            border-radius: 3px;
            background-color: $dark-grey;
            transition: transform 300ms linear;
        }
        .bar:nth-of-type(2) {
            margin-left: 5px;
        }
        &:focus {
            outline-offset: 5px;
        }
    }
    .close-burger {
        .bar:nth-of-type(1) {
            transform: rotate(40deg) translate(3px, 6px);
        }
        .bar:nth-of-type(2) {
            transform: scaleX(0);
        }
        .bar:nth-of-type(3) {
            transform: rotate(-40deg) translate(2px, -6px);
        }
    }
    nav.content-wrap {
        position: relative;
    }
    .top-nav {
        flex-direction: column;
        text-align: right;
        position: absolute;
        right: 0;
        top: 80px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 300ms linear;
        li {
            padding-bottom: 1em;
        }
    }
    .show {
        transform: scaleX(1);
    }
}
@media (max-width: 425px) {
    body {
        padding-top: 20px;
    }
}