.project-content {
    padding: 8em 0 10em;
}
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    li {
        & > *:not(:first-child) {
            margin-left: 5%;
        }
        h3 {
            position: relative;
        }
        h3::before {
            content: '</>';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            top: -70px;
            font-weight: 300;
            font-size: 0.8em;
            color: $light-grey;
            background-color: $black;
        }
    }
}
.img-ratio {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
    border: 1px solid $light-grey;
    img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 300ms linear,
        filter 200ms ease-out;
        &:last-child {
            filter: grayscale(100%);
        }
        &:last-child:hover,
        &:last-child:focus {
            opacity: 0;
        }
    }
}
.project-border {
    border: 1px solid $light-grey;
}
.tech-list {
    display: flex;
    justify-content: center;
    margin: auto 5% 3%;
}
.tech-icon {
    filter: grayscale(100%);
    transition: filter 300ms linear;
    &:hover {
        filter: grayscale(50%);
    }
}
.jq, .contentful {
    width: 80%;
    margin: auto;
}
.jq {
    width: 90%;
    filter: brightness(0.3) invert(0.7) sepia(0) hue-rotate(140deg) saturate(150%);
    &:hover {
        filter: brightness(0.3) invert(0.7) sepia(0.7) hue-rotate(140deg) saturate(150%);
    }
}
.gh-link {
    display: block;
    align-self: end;
}