.project-content {
    padding: 8em 0;
}
.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    li {
        filter: grayscale(100%);
        pointer-events: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &:nth-of-type(n + 3) .project-details {
            grid-row: 1;
            text-align: right;
        }
        &:focus,
        &:hover {
            filter: grayscale(10%);
            &::before {
                @include pseudo;
                top: 0.8em;
                left: 0.8em;
                border: 1px solid $dark-grey;
            }
        }
        &:nth-of-type(1) {
            z-index: 2;
        }
        &:nth-of-type(2) {
            z-index: 1;
        }
    }
}
.project-details {
    text-align: left;
    padding: 0.5em;
}