button {
    background-color: $black;
    color: white;
    padding: 0.6em 1.2em;
    position: relative;
    &:hover,
    &:focus {
        &::before, &::after {
            @include pseudo;
            left: 10px;
            top: 10px;
        }
        &::before {
            width: calc(100% - 11px);
            height: calc(100% - 11px);
            border-top: 1px solid white;
            border-left: 1px solid white;
            z-index: 1;
        }
        &::after {
            border: 1px solid $black;
        }
    }    
}
