html { font-size: 62.5%; }

body { 
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: $dark-grey;
}
.logo {
    font-family: 'Libre Baskerville', serif;
}
header {
    color: $black;
}
h2, h3 {
    font-weight: 400;
    color: $black;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
    position: relative;
    &::before {
        @include pseudo;
        bottom: -0.2em;
        left: 2px;
        width: 45px;
        height: 2px;
        background-color: $light-grey;
    }
}
h3 {
    margin: 0.5em 0 1.2em;
}
.project-list li {
    &:nth-of-type(-n + 2) h3::before {
        @include project-arrow(-6px);
        border-right: $arrow-size solid $light-grey;
    }
    &:nth-of-type(n + 3) h3::after {
        @include project-arrow(6px);
        border-left: $arrow-size solid $light-grey;
    }
}
.blog-list li h3 {
        font-size: 1.3em;
        margin: 0.8em 0 0.5em;
    }
    .publish-date {
    font-size: 0.7em;
    letter-spacing: 0.8px;
    span {
        color: $black;
    }
    .category {
        border-bottom: 1px dotted $light-grey;
    }
}
.contact-content h2 {
    margin-bottom: 2em;
}
p { 
    line-height: 1.4em;
    margin-bottom: 0.6em;
}