html { font-size: 62.5%; }

body { 
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    font-family: 'Libre Baskerville', serif;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        bottom: -0.1em;
        left: 4px;
        width: 45px;
        height: 2px;
        background-color: grey;
    }
}
h3 {
    margin: 0.5em 0 1.2em;
}
.project-list li {
    &:nth-of-type(-n + 2) h3::before {
        @include project-arrow(-6px);
        border-right: $arrow-size solid grey;
    }
    &:nth-of-type(n + 3) h3::after {
        @include project-arrow(6px);
        border-left: $arrow-size solid grey;
    }
}