@keyframes bounce {
    0% {
        bottom: 0%
    }
    15% {
        bottom: 15%;
    }
    30% {
        bottom: 0%;
    }
    40% {
        bottom: 6%;
    }
    50% {
        bottom: 0%;
    }
    100% {
        bottom: 0%;
    }
}
@keyframes fade {
    0% {
        right: 0%;
        opacity: 0;
    }
    100% {
        right: calc(6% + 45px);
        opacity: 1;
    }
}